
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
  padding: 3rem 0;
  border-radius: 6px;
  border: 1px solid #000;
}